version: "3.8"
services:
  dovecot:
    container_name: dovecot
    image: dovecot:latest
    restart: always
    environment:
      - SMTP_HOST=mail.server.com
      - SMTP_PORT=587
      - SMTP_USER=email@name.com
      - SMTP_PASSWORD=somepassword
    ports:
      - "143:143"
      - "25:25"
    volumes:
      - ../isync/mail_data:/home/app/maildir
